KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=ieyei8aicuagh2au9Thahzaih8uj5z
KEYCLOAK_VERSION=latest
PORT_KEYCLOAK=8080
POSTGRESQL_USER=keycloak
POSTGRESQL_DB=keycloak
POSTGRESQL_PASS=
VIRTUAL_HOST=